body {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
 
  background: url("https://cdn.shopify.com/s/files/1/0305/4075/9177/products/papel-de-parede-adesivo-linho-cinza-n08255-970824.jpg?v=1643338111");
}

#tudo {
  display: flex;
  flex-direction: row;
  height: 135vh;
  width: 100vw;
  overflow: hidden;
}

#side-bar {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 135vh;
  width: 20vw;
  background-color: #333333;
  font-family: sans-serif;
  border: solid 2px black;
  padding:5px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  
  width: 100%;
  background-color: #ffffff;
}

#icons {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  width: 98%;
  justify-content: space-around;
  text-align: center;
  gap: 5px;
  height: 20vh;
  border-bottom: 1px solid black;
  background-color: #c4cfdb;
}

.icones {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
 
}

#corpo-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%
}

.buti {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  font-size: 16px;
}

#ubc {
  width: 80%;
}

.bonecos {
  display: flex;
  justify-content: center;
  
  width: 20px;
  height: 20px;
}

.text {
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.icones_tudo{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.icones#va {
  background-color: #636ea1;
}

.icones#fi {
  background-color: #e6ba4c;
}

.icones#pm {
  background-color: #0085ff;
}

.icones#caa {
  background-color: #49d48f;
}

.icones#rematri {
  background-color: #53c6ea;
}

.icones#AC {
  background-color: #f683cc;
}

.icones#Agenda {
  background-color: #b964d7;
}

.icones#ED {
  background-color: #003b76;
}

#caa_img {
  width: 80%;
  margin-left: 5px;
}

#estela_img {
  height: 70px;
  width: auto;
  border-radius: 50%;
  overflow: hidden;

}

#main_formulario{
  padding: 15px;
  display: none;
  flex-direction: column;
  margin: 1em 3em;
  height: 37rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 8px 5px;
}

#formulario_descrisao{
  display: flex;
  height: 5em;
  width: 50em;
  
}

.final{

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 3em;
}

#enviar{
  background-color: #4095ea;
  border-radius: 5px;
  visibility: hidden;
  border: black solid 1px;
  border-radius: 5px;
  background-color: #3c8dbc;
  color: #367fa9;
}

#formulario_nome{
  width: 50em;
  
}

.side_bar_texto{
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  gap: 6px;
}

label{
  border: black solid 1px;
  border-radius: 5px;
  background-color: #3c8dbc;
  color:#fff;
  width: 12em;
  height: 2em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
